

body {
	font-size: 15px;
    line-height: 1.52;
    color: black;
    font-size: 16px;
font-family: 'Cairo', sans-serif;
    font-weight: 400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section-padding{
	padding: 60px 0px;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: black;
}
a{
    color: #841851;
}
a:hover, a:focus{
    color: #841851;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #841851;
}
.navbar-default {
    background-color: #ffffff;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #841851;
}

.navbar-nav .active a{
    background: none !important;
    color:  #841851 !important;
    outline: none
}

.btn-trial a{
	background-color:#841851;
	border-radius: 25px;
	color: #ffffff !important;
	border: 1px solid #841851;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 1px solid #841851;
	  background-color:blue;
    color: white !important;
}
.navbar-default .navbar-brand {
font-family: 'Cairo', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}
.navbar {
    margin-bottom: 0px;
}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}
.navbar-default .navbar-nav .btn-trial a:hover, .navbar-default .navbar-nav  .btn-trial a:focus  {
    border: 1px solid #841851;
    
    color: white !important;
   background-color:#69053a;
}


.navbar {
    margin-bottom: 0px;
        border-bottom-color: #865970;
}
.pagination>li>a, .pagination>li>span {

    color: #841851;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #f7f7f7;
    font-size: 22px;
        box-shadow: 0 4px 5px rgba(0,0,0,0.19);
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #841851;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #841851;
    border-color: #841851;
}
.form-control-feedback {
    left: 0;
    right: auto;
    color: #841851;
}
a:hover {
    text-decoration: none;
}
.searchforhall {
    
    background-color: #f7f7f7;
 color: #841851;
    padding-top: 15px;
    padding-bottom: 2px;
    
}
.team {
    margin: 65px 0;
    padding-bottom: 37px;
    background: white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.19);
    margin-bottom: 30px;
    min-height: 420px;
    max-height: 420px;
}

.team .cover .overlay {
    height: 200px;
    padding-top: 60px;
    opacity: 0;

    -webkit-transition: opacity 0.45s ease;
    transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
    opacity: 1;
}
.team .title {
    margin: 30px 0;
}
.team h4 {
        font-size: 22px;
    color: #841851;
    font-weight: bold;
}
@media (max-width: 800px) and (min-width: 768px){
    

           .one1 {
    margin-right: -45px;

}
.two2 {
    margin-right: -470px;
    margin-left: 200px;
}
.third3 {
        margin-right: 0px;
    float: left;
    top: -90px;
}
    
    
}
@media (max-width: 900px) and (min-width: 800px){

           .one1 {
      margin-right: -10px;

}
.two2 {
     margin-right: 1px;
}
.third3 {
       margin-right: 0px;
    float: left;
    top: -90px;
}
}


/***********************************
Banner
************************************/
.banner{
	background: url('../img/ba2.jpg') no-repeat center top;
    background-size: cover;
	min-height: 580px;
    position: relative;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 580px;
}
.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #841851;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Cairo', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}
.mouse {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}
@-webkit-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-moz-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-o-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
.mouse::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top:10px;
    margin-left: -2.5px;
    transition:all 0.3s ease-in;
 
     -webkit-animation-name: rotateplane; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: rotateplane;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 38px;
    margin-top: 250px;
    font-weight: bold;
}
.small-text{
    font-size: 16px;
}
p.para-w3l {
    color:white;
    line-height: 1.2em;
    margin: 0em auto 1.2em;
    width: 50%;
    margin-top: 2px;
	text-align: center;
 font-size: 20px;
font-family: 'Cairo', sans-serif;
    
}
.quote .btn{
    background-color: #841851;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.quote .btn:hover, .quote .btn:focus{
  color: white !important;
   background-color:#69053a;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/***********************************
Features
************************************/
h2{
	font-size: 26px;
	padding-bottom: 15px;
    font-weight: bold;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
    width: 80%;
}
.fea i {
    font-size: 39px;
    color: #841851;
    margin-top: 7px;
}
.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}
.heading p {
  text-align: left;
}



/***********************************
Price Table
************************************/
#pricing{
    background: #f7f7f7;
}
.price-table {
    box-shadow: 0px 0px 1px 0px RGBA(0, 0, 0, 0.4);
    position: relative;
}
.price-table .pricing-head {
    background: #fff;
 
    text-align: center;
}
.price-table .pricing-head h4 {
    font-size: 22px;
    color: white;
    margin-top: 0px;
    letter-spacing: 1px;
    border-bottom: 1px solid #232c3b;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #841851;
}
.package{
    font-size: 17px;
    /* text-align: center; */
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    min-height: 150px;
}
.pricing-head .amount {
    font-size: 20px;
    font-weight: bold;
}
.pricing-head .curency {
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 20px;
}
.price-in {
    background: #fff;
    text-align: center;
   
}
.btn-bg {
  	border: 1px solid #841851;
    border-radius: 0px;
    color: #fff !important;
    padding: 20px 0px;
    font-weight: bold !important;
    font-size: 14px;
    background-color: #841851;
}
.btn-bg:hover, .btn-bg:focus{
border: 1px solid #841851;
    color: white !important;
   background-color:#69053a;
}
/***********************************
Contact Us
************************************/
.contact form .form {
    width: 100%;
    height: auto;
    padding: 15px 15px 12px;
    font-size: 18px;
    margin-bottom: 18px;
    color: #7f7f7f;
    letter-spacing: 0.5px;
}
#contact .form-control {
    background: #fafafa;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 100%;
	margin-bottom: 15px;
    border-radius: 0;
    
}
.textarea {
    height: 228px;
    max-width: 100%;
    max-height: 229px;
}
.light {
    font-weight: 100;
}
.white{
    color: #fff !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}
/***********************************
Footer
************************************/
.footer {
    padding: 60px 0 20px;
    background: #111;
    color: #ccc;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #841851;
    text-decoration: none;
}
.footer h3{
	font-weight: 300;
	letter-spacing: 0.05em;
	margin: 0 0 40px;
	font-size: 24px;
    color: white;
}
.footer p {
    color: white;
  
}
.footer .form-control {
    border-radius: 30px;
    border: none;
    background: rgba(255,255,255,.1);
    padding-left: 30px;
    color: #e5e6e7;
    margin-bottom: 0;
    height: 48px;
}
.footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .social-links li a:hover {
    color: #841851;

}
.footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .mc-trial {
    margin: 20px 0;
}
.footer .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 30px;
    padding: 10px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: 120px;
}
.btn-submit:hover, .btn-submit:focus{
    background-color: #841851;
    color: #fff;
}
.btn-submit{
	padding: 14px 12px;
	border-radius: 50px;
	text-transform: uppercase;
    background-color: #841851;
    color: #fff;
}
.btn-submit i{
	padding-left: 8px;
}

.btn-sec {
    margin-top: 20px;
}
.ser-btn {
    padding: 10px 18px;
    border: 0px;
    background-color: #222935;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
}
.mem-info{
    padding: 45px 10px 0px;
    background-color: #eee;
}
.mem-info h4 {
    font-size: 18px;
    padding: 10px 0px;
}
.mem-info h3{
    font-size: 24px;
    padding: 15px 0px;
}
.mem-info h5
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mem-info p {
    margin: 0 0 10px;
}
.agent-social li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
}
.light-form-button{
      font-weight: bold !important;
    font-size: 14px;
    background-color: #841851;
  	border: 1px solid #841851;
    width: 24%;
    padding: 10px 10px;
    margin-bottom: 15px;
   color: #fff !important;
    margin-bottom: 15px;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.light-form-button:hover, .light-form-button:focus{
	border: 1px solid #841851;
	 background-color:#69053a;
    color: white !important;
}
.footer .form-control:focus{
    box-shadow: none;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info, .orga-stru{
        margin-bottom: 30px;
    }
    .pricing-head .amount {
    font-size: 51px;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info{
        margin-bottom: 30px;
    }

    .pricing-head .amount {
    font-size: 51px;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }  
  
}
@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
    font-size: 20px;
    }
    .big-text {
    font-size: 30px;
    }
    .small-text {
    font-size: 14px;
    }
    .intro-para {
    font-size: 30px;
    }
    .header-section p{
        font-size: 14px;
    }
    .heading {
    margin-bottom: 20px;
    }
    .orga-stru i {
    font-size: 92px;
    }
    .orga-stru {
    padding: 5px 5px 15px 5px;
    width: 75px;
    margin-bottom: 20px;
    }
    .orga-stru h3 {
    font-size: 28px;
    }
    .orga-stru p {
    font-size: 13px;
    }
    h3.det-txt {
    font-size: 28px;
    }
    .cta-2-txt {
    font-size: 20px;
    }
    .service-box, .text-comment, .price-table{
        margin-bottom: 30px;
    }
    .contact-form-button{
        width: 40%;
    }
    .footer .social-links li {
    margin: 0 5px 25px;
    }
    .cta-2-form-submit-btn {
    font-size: 10px;
    }
    .cta-2-form input[type="email"] {
    padding: 13px 10px;
    font-size: 10px;
    min-width: 187px;
    }
    .modal-sm {
    width: 300px;
    }
    .login-box-body {
    padding: 15px 20px;
    }
    .navbar-default .navbar-brand{
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
    }
   
}













/*==================================================================
            Feature section Style
====================================================================*/

.main_feature{
    margin-top:4%;
  margin-bottom: 22%;
  
}
.main_feature .single_feature{
    text-align: center;
}
.main_feature .single_feature:hover .single_feature_icon{
    border-color:#841851;
    transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i{
    transform: rotate(-45deg);
     color:white;
}
.btn-outline-info {
    font-size: 15px;
}
.main_feature .single_feature:hover h4{
    color:#841851;
}
.main_feature .single_feature .single_feature_icon{
    border:1px solid #ddd;
    width:70px;
    height: 70px;
    line-height: 70px;
    margin:20px auto;
    transition: all 0.6s;
    font-size: 39px;
    background-color: #841851;
}
.main_feature .single_feature i{
    margin-bottom:30px;
    color:white;
    transition: all 0.6s;
}
.main_feature .single_feature h4{
    transition: all 0.6s;
}


.main_feature .single_feature .lead{
     font-size: 16px;
     font-weight: bold;
    color: black;
}

}
.head_title {
    text-align: center;
}

/*contact section css*/


.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background:#841851;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin-top: 0px;
    
}
.separator:after {
    position: absolute;
    left:5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: black;
    content:"";
    display: inline-block;
    margin-left: 20px;
}
.separator:before {
    position: absolute;
    right: 5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: black;
    content:"";
    display: inline-block;
    margin-right: 20px;
}
.separator3 {
    height: 2px;
    width: 40px;
    margin:20px auto;
    background: #888888;
}
/*contact section css*/

/*==================================================================
            Feature section Style
====================================================================*/

/*==================================================================
          login2 page
====================================================================*/
.form-horizontal .form-group {
    margin-right: -90px;
  
}
.price-table1 {
    border: 1px solid #e3e3e3;
    margin-bottom: 50px;
}

.price-table1.featured {
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.19);
       -moz-box-shadow: 0 4px 5px rgba(0,0,0,0.19);
            box-shadow: 0 4px 5px rgba(0,0,0,0.19);
}

.price-table1 > span {
    color: #252525;
    display: block;
    font-size: 24px;
    padding: 15px 0;
    text-transform: uppercase;
}

.price-table1 .value {
    background-color: #841952;
    color: white;
    padding: 12px 0;

    -webkit-transition: all 0.7s ease 0s;
       -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
         -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
}

.price-table1.featured .value {
    background-color:  #841851;
    color: #fff;
}
.price-table {
   
    position: relative;
    box-shadow: 0 4px 5px rgba(0,0,0,0.19);
}
.price-table1 .value span {
    display: inline-block;
}

.price-table1 .value span:first-child {
    font-size: 32px;
    line-height: 32px;
}

.price-table1 .value span:nth-child(2) {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 10px;
}

.price-table1 .value span:last-child {
    font-size: 16px;
}

.price-table1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
        min-height: 200px;
}

.price-table1 ul li {
    border-top: 1px solid #e3e3e3;
    display: block;
    padding: 13px 0;
    text-align: right;
    margin-right: 3px;
   font-size: 15px;
    -webkit-transition: all 0.7s ease 0s;
       -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
         -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
}
.price-table1 ul li i {
    color: #841851;
}
.price-table1 {
    border: 1px solid #e3e3e3;
    margin-bottom: 50px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.19);
}

.price-table1 ul li a {
    display: block;
    text-transform: uppercase;
    color:  #841851;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}



.btn-trial1 a{
	background-color: #841851;
	border-radius: 6px;
	color: white;
	border: 1px solid #841851;
            padding: 10px 33px;
    margin-right: 359px;
}
.btn-trial1 a:hover, .btn-trial1 a:focus{
	border: 1px solid #841851;
	 background-color:#69053a;
    color: white !important;
    text-decoration: none;
}
.btn-trial2 a{
	background-color: #841851;
	border-radius: 6px;
	color: white;
	border: 1px solid #841851;
            padding: 10px 33px;
  margin-right: -70px;
}
.btn-trial2 a:hover, .btn-trial1 a:focus{
	border: 1px solid #841851;
	 background-color:#69053a;
    color: white !important;
    text-decoration: none;
}
.btn-trial2 button{
    background-color: #841851;
    border-radius: 6px;
    color: white;
    border: 1px solid #841851;
            padding: 10px 33px;
  margin-right: -70px;
}
.btn-trial2 button:hover, .btn-trial1 a:focus{
    border: 1px solid #841851;
    background-color:#69053a;
    color: white !important;
    text-decoration: none;
}
.btn-trial3 a{
	background-color: #841851;
	border-radius: 6px;
	color: white;
	border: 1px solid #841851;
            padding: 10px 33px;
    margin-right: 459px;
    padding-top: 7px;
    padding-bottom: 8px;
}
.btn-trial3 a:hover, .btn-trial1 a:focus{
	border: 1px solid #841851;
	background-color:white;
	color: #841851 !important;
    text-decoration: none;
}
.btn-trial4 button{
	background-color: #841851;
	border-radius: 6px;
	color: white;
	border: 1px solid #841851;
            padding: 10px 33px;
    margin-right: 0px;
}
.btn-trial4 button:hover, .btn-trial1 a:focus{
	border: 1px solid #841851;
	background-color:white;
	color: #841851 !important;
    text-decoration: none;
}
/*=================================================================
page login3
==================================================================*/



.the-fieldset p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:black;
    font-weight: bold;

}



 .the-fieldset input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;

  width: 75%;
  height: 30px;
  float: left;
  padding: 0px 15px;
}

 .the-fieldset a {
  text-decoration:inherit
}

.the-fieldset textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 90px; 
  float: left;
  padding: 0px 15px;
}
.actAsDiv {
    width: 100%;
    height: 400px;
   
    padding-right: 2px;
    padding-left: 2px;
}



 .the-fieldset .icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:30px;
  position: relative;
  text-align: center;
  line-height:30px;
}

.the-fieldset i {
  color:#841851;
}

.the-fieldset .contentform {
  padding: 40px 30px;
}

 .the-fieldset .bouton-contact{
  background-color: #841851;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}






.wizard-card .picture-container {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.wizard-card .picture {
    width: 165px;
    height: 165px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    /* margin: 2px auto; */
    margin-right: 0px;
    margin-top: 27px;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.wizard-card .picture:hover {
  border-color:  #841851;
}
.wizard-card .picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}
.wizard-card .picture-src {
  width: 100%;
}
.hh6 {
    font-size: 18px;
    margin-top: 3px;
    text-align: center;
    margin-left: 240px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 22px;
    color: white;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
   padding:12px;
    border: 1px solid #e0e0e0;
font-weight: bold;
background-color: #841851;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}















/*=================================================================
page hall
==================================================================*/






.tm-home-box-2-container {
    border-top: 1px solid #DDD;
    overflow: hidden;
}
.tm-home-box-2-link {
    display: inline-block;
    height: 100%;
    color: black;
    transition: all 0.3s ease;
    text-align: center;
}
.tm-home-box-2-icon {
padding-top: 11px;
  
    width: 45px;
    height: 48px;
    font-size: 1.4em;
}
.border-right {
    border-right: 1px solid #DDD;
}
.section-margin-top { margin-top: 20px; }
hr { border-top: 1px solid #111010; }
.tm-section-header {
	margin-bottom: 30px;
	overflow: hidden;
}
.tm-section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2px;
}


.head4{
  font-size: 16px;
    
     color:#ffffff;
text-align: center;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 0px;
	margin-bottom: 0px;
    
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    font-size: 22px;
}
.pcontact .icon-zoom .fa {
    width: 40px;
	height: 40px;
	line-height: 40px;
    font-size: 21px;

}



.pcontact  .icon-zoom  .fa-map-marker{
 
     width: 50%;
	height: 50%;

    font-size: 50px;
    text-align: center;
}
.social-icons.icon-circle .fa{ 
	border-radius: 50%;
  
}


.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 


.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
 
.social-icons .fa-phone{background-color:#504e54;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 

 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 

.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
/*** effect rotate-scale ***/

.img-rotate-scale
{
transition:all 1.2s ease-in-out;
-webkit-transition:all 1.2s ease-in-out;
-moz-transition:all 1.2s ease-in-out;
-ms-transition:all 1.2s ease-in-out;
-o-transition:all 1.2s ease-in-out;
}

.img-rotate-scale:hover
{
transform:rotate(720deg) scale(2,2);
-webkit-transform:rotate(720deg) scale(2,2);
-moz-transform:rotate(720deg) scale(2,2);
-ms-transform:rotate(720deg) scale(2,2);
-o-transform:rotate(720deg) scale(2,2);
}

.lama {
      margin-right: 76px;
}
.lif {
     margin-right: 37px; 
}
/*=================================================================
الشاشات 
==================================================================*/
@media(min-width:360px) and (max-width: 667px) and (min-device-width:360px) and (max-device-width:667px){ 

.mouse {
   
    bottom: 5px;
}
.navbar-toggle {
    
    margin-top: 16px;
}
.lif {
     margin-right: 0px; 
}

}
@media(min-width:320px) and (max-width:567px) and (min-device-width:320px) and (max-device-width:567px){ 

.mouse {
   
    bottom: 5px;
}
.navbar-toggle {
 
    margin-top: 16px;
}
    .the-fieldset p {
  
    margin-right: 15px;
}
  .lif {
     margin-right: 0px; 
}  

}
@media (max-width: 450px) and (min-width: 20px){

.big-text {
    font-size: 25px;
    margin-top: 150px;
}

.form-horizontal .form-group {
    margin-right: 0px;
}
.btn-trial2 a{
	
  margin-right: 80px;
}
.hh6 {
  
    margin-left: 90px;
}
    .btn-trial3 a {
  
    margin-right: 59px;
}
    .lama {
    margin-right: 110px;
}
  .lif {
     margin-right: 0px; 
} 
}
@media (max-device-width: 567px) and (max-width: 567px) and (min-device-width: 320px) and (min-width: 320px){

.mouse {
    bottom: 70px;
}}



@media (max-width: 800px) and (min-width: 768px){
    
     .lama {
    margin-right: 290px;
}
   .lif {
     margin-right: 0px; 
}  
    
  .btn-trial2 a{
	
  margin-right: 320px;
}  
      .hh6 {
 
    margin-left: 80px;
}
    .btn-trial3 a {
   
    margin-right: 230px;
}
    
    
}
@media (max-width: 900px) and (min-width: 800px){
       .btn-trial3 a {
  
    margin-right: 200px;
}
    .hh6 {
  
    margin-left: 70px;
}
    .lama {
    margin-right: 290px;
}
   .lif {
     margin-right: 0px; 
} 
}
@media (max-width: 414px) and (min-width: 400px){

.hh6 {
    margin-left: 150px;
}
  .the-fieldset p {
  
    margin-right: 23px;
}
.lama {
    margin-right: 130px;
}}
